/**
 * @package Energizo
 * @author Wonster
 * @link http://wonster.co/
 * @responsive css
 */

/* @media screen and (max-width: 52.375em) */
/* @media only screen and (min-width: 320px) and (max-width: 480px) */


@media screen and (min-width:1200px){

	.alpcplfdkdjjteq{ width: 1200px; }

	.vdjwukxhtcsyzfu{
		display: none;
	}

	/* Wonster Slider */


	.ydopvllvfavfeeqWonsterSliderControls{
		width: 100% !important;
	}

	.ydopvllvfavfeeqWonsterSlider .alpcplfdkdjjteq{
		width: 1200px !important;
	}


	/* Classes Boxed */


	.wtrContentSidebar .ydopvllvfavfeeqBoxedClassesSkill{
		margin-bottom: 7px !important
	}


	/* News fancy list */


	.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemHeadline{
		width: 55.5%;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemImg{
		width: 19.5%;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemMeta{
		right: 23%;
	}


	/* News Boxed */


	.wtrContentSidebar .ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxOthers{
		display: none;
	}


	/* Image link */


/*	.vc_col-sm-2 .fgoffswgkf{
		max-height: 125px;
	}

	.wlaasjchssaoq .fgoffswgkf{
		max-height: 210px;
	}

	.eyaiddifddo .fgoffswgkf{
		max-height: 260px;
	}

	.ksguifksaiu .fgoffswgkf{
		max-height: 460px;
	}*/


}

@media screen and (max-width: 1350px) and (min-width: 1100px) {

	.boxed{
		width: 1200px;
	}

	.boxed .icgahwoapitlFixed{
		min-width: 1200px;
	}

	.boxed .alpcplfdkdjjteq{
		width: 1140px;
	}

	.vdjwukxhtcsyzfu{
		display: none;
	}

}


@media screen and (max-width: 1250px) and (min-width: 1100px) {

	.boxed{
		width: 1100px;
	}

	.boxed .icgahwoapitlFixed{
		min-width: 1100px;
	}

	.boxed .alpcplfdkdjjteq{
		width: 1040px;
	}

	.vdjwukxhtcsyzfu{
		display: none;
	}

	.alpcplfdkdjjteq{ width: 1040px; }

/*	.boxed .icgahwoapitlFixed{
		margin: 0px auto;
		min-width: 1040px;
	}*/

	.ugfewedevd .fdaadgcdzukcwwv{
		margin-left: 25px;
	}

	.ugfewedevd .wtrNaviSearchItem{
		margin-left: 20px !important;
	}

	.wtrContentSidebarLeft .wrtBlogDfPostSocialShare{
		float: right;
	}

	.wtrContentSidebarRigh .wrtBlogDfPostDateCreated{
		float: left;
	}

	.pghikaeygdauxqc .wtrWidgetTodayIsOpenHours{
		font-size: 17px;
	}

	.wtrClassesTrainers .wtrHeadlineElement{
		width: 100%;
	}

	.wtrClassesTrainerPicture{
		margin-left: 0px !important;
	}

	.wtrClassesMeta{
		margin: 170px 0 100px 0!important;
		width: 50% !important;
	}

	.wtrClassesDetails{
		width: 50% !important;
		margin: 130px 0px 100px !important;
	}

	.wtrClassesButtonSection{
		width: 25% !important;
	}

	.wtrClassesTrainers{
		width: 100% !important
	}

	.wtrClassesTrainerItem{
		margin-right: 30px;
	}

	.wtrEventEntryHeadlineContainer{
		min-width: 700px;
	}

	.wtrEventEntryMetaSocialBtns{
		width: 20%;
	}

	.wtrBlogPostSneakPeakLead{
		margin-bottom: 30px;
	}


	/* Wonster Slider */


	.ydopvllvfavfeeqWonsterSliderControls{
		width: 100% !important;
	}

	.ydopvllvfavfeeqWonsterSliderLayer{
		width: 960px !important;
	}

	.ydopvllvfavfeeqWonsterSliderControls span.prev{
		left: -5px;
	}

	.ydopvllvfavfeeqWonsterSliderControls span.next{
		right: -5px;
	}

	.ydopvllvfavfeeqWonsterSliderLayerMeta{
		padding: 0px 40px;
	}


	/* Image link */


	.vc_col-sm-2 .fgoffswgkf{
		max-height: 125px;
	}

	.wlaasjchssaoq .fgoffswgkf{
		max-height: 210px;
	}

	.eyaiddifddo .fgoffswgkf{
		max-height: 260px;
	}

	.ksguifksaiu .fgoffswgkf{
		max-height: 460px;
	}

	.wtrContentSidebar .vc_col-sm-2 .fgoffswgkf{
		max-height: 80px;
	}

	.wtrContentSidebar .wlaasjchssaoq .fgoffswgkf{
		max-height: 140px;
	}

	.wtrContentSidebar .eyaiddifddo .fgoffswgkf{
		max-height: 210px;
	}

	.wtrContentSidebar .ksguifksaiu .fgoffswgkf{
		max-height: 320px;
	}




	/* News Boxed */


	.ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxAutorContainer{
		float: none !important;
		text-align: center;
	}

	.ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxAuthorImg{
		display: none !important;
	}


	/* Events Metro */


	.wtrContentSidebar .ydopvllvfavfeeqBoxedEventsTime{
		font-size: 13px;
		padding: 0px !important;
		background: transparent !important;
	}

	.wtrContentSidebar .ydopvllvfavfeeqBoxedEventPrice{
		font-size: 13px;
		padding: 0px !important;
		margin-top: 3px !important
	}

	.wtrContentSidebar .ydopvllvfavfeeqBoxedEventsReadMore{
		font-size: 13px;
	}

	.wtrContentSidebar .ydopvllvfavfeeqBoxedEventsHeadline a{
		font-size: 16px !important;
	}


	/* Classes Metro */


	.wtrContentSidebar .ydopvllvfavfeeqBoxedClassesSpace .ydopvllvfavfeeqBoxedClassesHeadline a{
		font-size: 16px !important;
	}


	/* Class schedule */


	.ydopvllvfavfeeqTimeTableItem .ydopvllvfavfeeqTimeTableEntryTime .ydopvllvfavfeeqTimeTableTo,
	.ydopvllvfavfeeqTimeTableItem .ydopvllvfavfeeqTimeTableEntryTime .ydopvllvfavfeeqTimeTableFrom{
		float: none;
		text-align: center;
		width: 100%;
		padding: 0px 10px;
	}

	.ydopvllvfavfeeqTimeTableItem .ydopvllvfavfeeqTimeTableEntryTime .ydopvllvfavfeeqTimeTableSeparator{
		display: none;
	}

	.ydopvllvfavfeeqTimeTableEntryName{
		word-break: break-word;
	}


	/* News Fancy list */

	.ydopvllvfavfeeqLastNewsListItemTitle{
		font-size: 20px;
	}

	 .ydopvllvfavfeeqLastNewsListItemHeadline{
		width: 64.5%;
	}

	.ydopvllvfavfeeqLastNewsListItemImg{
		width: 15.5%;
	}

	.ydopvllvfavfeeqLastNewsListItemMeta{
		right: 18%;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemTitle{
		font-size: 20px;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemMeta{
		right: 0px;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemHeadline{
		width: 55.5%;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemImg{
		width: 19.5%;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemMeta{
		right: 23%;
	}


	/* News Boxed */

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxHedaline a,
	.wtrContentSidebar .ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxHedaline {
		line-height: 1.2;
		font-size: 18px;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxOthers{
		display: none;
	}


	/* Crew - Blured background */


	.wtrCrewItemContainer:hover .wtrCrewItemPictureContainer{
		bottom: 120px;
	}

	.wtrCrewItemName{
		font-size: 18px;
	}

	.wtrCrewItemPictureContainer{
		margin-left: -35px;
	}

	.wtrCrewItemPictureContainer .wtrCrewItemPicture{
		width: 70px;
		border-width: 3px;
	}


	/* Team standard */

	.ydopvllvfavfeeqTrainerMetaPositionName,
	.ydopvllvfavfeeqTrainerMetaNameSubline,
	.ydopvllvfavfeeqTrainerMetaNameHeadline{
		font-size: 14px;
	}

	.ydopvllvfavfeeqTrainerMetaName{
		padding: 20px 0px 30px;
	}
	
	.ydopvllvfavfeeqTrainerMetaPositionName{
		left: 0px;
	}

	.kyxadqhppwtiwAuthorSocials{
		margin-top: 20px;
		float: none;
		display: block;
	}

	.wtrBlogDfPostContent{
		width: 87%;
	}

	.wtrBlogDfPostAssets{
		width: 13%;
	}

	/* Footer headlines */

	.pghikaeygdauxqc .hveeyardlaje h6{
		font-size: 18px !important;
	}

}

@media screen and (max-width: 1100px ) and (min-width: 990px ) {


	/* VC improve */

	.vc_col-sm-2{
		width: 33.33333333%;
	}

	/* VC improve END */


	.boxed{
		width: 100%;
		margin: 0px;
	}

	.boxed .icgahwoapitlFixed{
		min-width: 100%;
	}

	.ugfewedevd .fdaadgcdzukcwwv > a,
	.ugfewedevd .fdaadgcdzukcwwv > .wtrNaviNoLink{
		font-size: 16px !important;
	}

	.ugfewedevd .wtrNaviSearchItem{
		margin-left: 20px !important;
	}

	.ugfewedevd .wtrNaviSearchItem div i{
		font-size: 18px;
		margin-top: -2px;
	}

	.qrfejsywxjwq{
		margin-top: -20px;
	}

	.ugfewedevd{
		margin: 26px 0px;
	}

	.qrfejsywxjwq img{
		max-height: 60px;
	}

	.vdjwukxhtcsyzfu{
		display: none;
	}

	.alpcplfdkdjjteq{ width: 960px; }

	.icgahwoapitlSecond .kuhwdkahcry > .alpcplfdkdjjteq{
		padding: 8px 0;
	}

	.ugfewedevd .fdaadgcdzukcwwv{
		margin: 18px 0px 16px 24px;
	}

	.ugfewedevd .fdaadgcdzukcwwv a{
		font-size: 17px;
	}

	.ugfewedevd .fdaadgcdzukcwwv.wtrNaviSearchItem i{
		margin-right: 0px;
	}

	.wtrContentSidebarLeft .wrtBlogDfPostSocialShare{
		float: right;
	}

	.wtrContentSidebarRigh .wrtBlogDfPostDateCreated{
		float: left;
	}

	.pghikaeygdauxqc .wtrWidgetTodayIsOpenHours{
		font-size: 17px;
	}

	.wtrClassesTrainers .wtrHeadlineElement{
		width: 100%;
	}

	.wtrClassesTrainerPicture{
		margin-left: 0px !important;
	}

	.wtrBlogDfPostContent{
		width: 87%;
	}

	.wtrBlogDfPostAssets{
		width: 13%;
	}

	.wtrClassesMeta{
		margin: 170px 0 100px 0!important;
		width: 50% !important;
	}

	.wtrClassesDetails{
		width: 50% !important;
		margin: 130px 0px 100px !important;
	}

	.wtrClassesButtonSection{
		width: 25% !important;
	}

	.wtrClassesTrainers{
		width: 100% !important
	}

	.wtrClassesTrainerItem{
		margin-right: 30px;
	}

	.wtrClassesTrainerItemName{
		font-size: 16px;
	}

	.wtrEventEntryHeadlineContainer{
		min-width: 660px;
	}

	.wtrEventEntryMetaSocialBtns{
		width: 20%;
	}

	.kyxadqhppwtiwAutorPicture{
		width: 70px;
		height: 70px;
	}

	.kyxadqhppwtiwAuthorSocials{
		margin-top: 20px;
		float: none;
		display: block;
	}

	.wtrBlogPostSneakPeakLead{
		margin-bottom: 30px;
	}


	/* Image link */


	.vc_col-sm-2 .fgoffswgkf{
		max-height: 110px;
	}

	.wlaasjchssaoq .fgoffswgkf{
		max-height: 190px;
	}

	.eyaiddifddo .fgoffswgkf{
		max-height: 260px;
	}

	.ksguifksaiu .fgoffswgkf{
		max-height: 440px;
	}

	.wtrContentSidebar .vc_col-sm-2 .fgoffswgkf{
		max-height: 75px;
	}

	.wtrContentSidebar .wlaasjchssaoq .fgoffswgkf{
		max-height: 130px;
	}

	.wtrContentSidebar .eyaiddifddo .fgoffswgkf{
		max-height: 190px;
	}

	.wtrContentSidebar .ksguifksaiu .fgoffswgkf{
		max-height: 290px;
	}


	/* Wonster Slider */


	.ydopvllvfavfeeqWonsterSliderControls{
		width: 100% !important;
	}

	.ydopvllvfavfeeqWonsterSliderLayer{
		width: 960px !important;
	}

	.ydopvllvfavfeeqWonsterSliderControls span.prev{
		left: -5px;
	}

	.ydopvllvfavfeeqWonsterSliderControls span.next{
		right: -5px;
	}

	.ydopvllvfavfeeqWonsterSliderLayerMeta{
		padding: 0px 40px;
	}


	/* Class schedule */


	.ydopvllvfavfeeqTimeTableItem .ydopvllvfavfeeqTimeTableEntryTime .ydopvllvfavfeeqTimeTableTo,
	.ydopvllvfavfeeqTimeTableItem .ydopvllvfavfeeqTimeTableEntryTime .ydopvllvfavfeeqTimeTableFrom{
		float: none;
		text-align: center;
		width: 100%;
		padding: 0px 10px;
	}

	.ydopvllvfavfeeqTimeTableItem .ydopvllvfavfeeqTimeTableEntryTime .ydopvllvfavfeeqTimeTableSeparator{
		display: none;
	}

	.ydopvllvfavfeeqTimeTableEntryName{
		word-break: break-word;
	}


	/* News Boxed */


	.ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxAutorContainer{
		float: none !important;
		text-align: center;
	}

	.ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxAuthorImg{
		display: none !important;
	}


	/* Events Metro */


	.wtrContentSidebar .ydopvllvfavfeeqBoxedEventsTime{
		font-size: 13px;
		padding: 0px !important;
		background: transparent !important;
	}

	.wtrContentSidebar .ydopvllvfavfeeqBoxedEventPrice{
		font-size: 13px;
		padding: 0px !important;
		margin-top: 3px !important
	}

	.wtrContentSidebar .ydopvllvfavfeeqBoxedEventsReadMore{
		font-size: 13px;
	}

	.wtrContentSidebar .ydopvllvfavfeeqBoxedEventsHeadline a{
		font-size: 16px !important;
	}


	/* Classes Metro */


	.wtrContentSidebar .ydopvllvfavfeeqBoxedClassesSpace .ydopvllvfavfeeqBoxedClassesHeadline a{
		font-size: 16px !important;
	}


	/* News Fancy list */

	.ydopvllvfavfeeqLastNewsListItemTitle{
		font-size: 20px;
	}

	 .ydopvllvfavfeeqLastNewsListItemHeadline{
		width: 64.5%;
	}

	.ydopvllvfavfeeqLastNewsListItemImg{
		width: 15.5%;
	}

	.ydopvllvfavfeeqLastNewsListItemMeta{
		right: 18%;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemTitle{
		font-size: 20px;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemMeta{
		right: 0px;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemHeadline{
		width: 55.5%;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemImg{
		width: 19.5%;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemMeta{
		right: 23%;
	}


	/* News Boxed */

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxHedaline a,
	.wtrContentSidebar .ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxHedaline {
		line-height: 1.2;
		font-size: 18px;
	}

	.wtrContentSidebar .ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxOthers{
		display: none;
	}


	/* Crew - Blured background */


	.wtrCrewItemContainer:hover .wtrCrewItemPictureContainer{
		bottom: 120px;
	}

	.wtrCrewItemName{
		font-size: 18px;
	}

	.wtrCrewItemPictureContainer{
		margin-left: -35px;
	}

	.wtrCrewItemPictureContainer .wtrCrewItemPicture{
		width: 70px;
		border-width: 3px;
	}


	/* Team standard */

	.ydopvllvfavfeeqTrainerMetaPositionName,
	.ydopvllvfavfeeqTrainerMetaNameSubline,
	.ydopvllvfavfeeqTrainerMetaNameHeadline{
		font-size: 14px;
	}

	.ydopvllvfavfeeqTrainerMetaName{
		padding: 20px 0px 30px;
	}

	.ydopvllvfavfeeqTrainerMetaPositionName{
		left: 0px;
	}

	/* Footer headlines */

	.pghikaeygdauxqc .hveeyardlaje h6{
		font-size: 16px !important;
	}

}


@media screen and (max-width: 991px) and (min-width: 768px) {


	/* VC improve */

	.vc_col-sm-2{
		width: 33.33333333%;
	}

	/* VC improve END */


	.boxed .icgahwoapitlFixed{
		min-width: 100%;
	}

	.boxed{
		width: 100%;
		margin: 0px;
	}

	.alpcplfdkdjjteq{ width: 80%; }

	.wtrSmartNavigation,
	.vdjwukxhtcsyzfu{
		display: block;
	}

	.icgahwoapitlFixed{
		position: absolute !important; /* ie fix */
	}

	.xlxglsqraf{
		width: auto;
	}

	.uueharuzgwcua{
		font-weight: 100;
		font-size: 28px;
		padding: 10px 15px 5px 15px;
	}

	.ugfewedevd{ display: none; }
	.uueharuzgwcua{ display: block; }

	.xlxglsqraf{
		margin: 15px 0;
	}

	.qrfejsywxjwq{
		margin-top: -19px;
	}

	.qrfejsywxjwq img{
		display: block;
		width: auto;
		height: 60px;
		vertical-align: middle;
	}

	.wtrBreadcrumbPath {
		display: none;
	}

	.zsdsjkqqepsfjpk,
	.icqcspkile,
	.llrtgglkyiyeygp,
	.wtrColTwoThird,
	.zsdsjkqqepsfjpkFourth,
	.wtrColThreeFourth,
	.zsdsjkqqepsfjpkFifth,
	.wtrColTwoFifth,
	.wtrColThreeFifth,
	.wtrColFourFifth,
	.zsdsjkqqepsfjpkSixth,
	.wtrColFiveSixth {
		width: 100%;
	}

	.wtrSidebar.wtrSidebarLeft .wtrSidebarInner,
	.wtrContentSidebar.wtrContentSidebarLeft,
	.wtrSidebar.wtrSidebarLeft,
	.wtrContentSidebar,
	.wtrSidebar{
		width: 100%;
		padding: 0px;
		border-width: 0;
	}

	.wtrSidebarInner{
		padding: 0;
	}

	.wtrSidebarLeft.wtrSidebarWdg .hveeyardlaje,
	.wtrSidebarWdg .hveeyardlaje{
		padding-left: 0;
		padding-right: 0;
	}

	.gxtfaeedurwj .alpcplfdkdjjteq{
		padding: 45px 0px 0px;
	}

	.zsdsjkqqepsfjpk,
	.icqcspkile,
	.llrtgglkyiyeygp,
	.wtrColTwoThird,
	.zsdsjkqqepsfjpkFourth,
	.wtrColThreeFourth,
	.zsdsjkqqepsfjpkFifth,
	.wtrColTwoFifth,
	.wtrColThreeFifth,
	.wtrColFourFifth,
	.zsdsjkqqepsfjpkSixth,
	.wtrColFiveSixth {
		width: 100%;
	}

	.wtrSidebarInner{
		border: 0;
	}

	.wtrQuickContact .icqcspkile{
		width: 100%;
		margin: 0;
		text-align: center;
	}

	.wtrQuickContact .wtrQuickContactInfo .icqcspkile{
		width: auto;
		margin: 0 5px;
		float: none;
		display: inline-block;
	}

	.ggxchsyhjdz .icqcspkile{
		text-align: center;
		margin-bottom: 0px !important;
	}

	.ggxchsyhjdz .rfuxitfkze{
		margin-bottom: 2px !important;
	}

	.wtrCopyBoxTwoTwo,
	.wtrCopyBoxTwoOne{
		width: 50% !important;
		margin: 0 !important;
	}

	.wtrClassesButtonSection {
		margin-bottom: 30px !important;
	}

	.wtrClassesDetails{
		margin-top: 50px;
	}

	.wtrClassesDetailsLevel {
		padding-left: 0px;
		margin-bottom: 30px !important;
	}

	.wtrClassesTime{
		margin-bottom: 40px !important;
	}

	.wtrClassesNameHeadline {
		line-height: 1.0;
		display: block;
	}

	.wtrClassesNameHeadline, .wtrClassesKcalInfo {
		text-align: center;
	}

	.wtrClassesMeta {
		margin: 40px 0px 0px 0px !important;
	}

	.wtrClassesDifficultMeter {
		width: 188px;
		margin: 0px auto;
	}

	.wtrClassesTimeStopWatch {
		margin: 0px auto;
		float: none;
	}

	.wtrClassesTrainers .wtrHeadlineElement{
		width: 100%;
		margin-bottom: 40px !important;
	}

	.wtrClassesTrainerPicture{
		margin-left: 0px;
		width: 20%;
	}

	.wtrClassesTrainerItemDetails{
		width: 75%;
		margin-left: 5%;
	}

	.wtrClassesButtonSection .wtrDefStdButton{
		float: left;
	}

	.wtrClassesTrainerItem{
		width: 50%;
		float: left;
		padding: 0;
		margin: 0;
		border: 0;
		margin-bottom: 30px !important;
	}

	.wtrLeftSide .wtrBlogDfPostAssets{
		padding-left: 20px;
	}

	.wrtBlogDfPostSocialShare{
		float: right;
	}

	.wtrLeftSide .wrtBlogDfPostDateCreated{
		float: right;
		text-align: center;
	}

	.wtrBlogDfDateYear{
		font-size: 18px;
		text-align: center;
	}

	.wtrBlogDfDateMonth{
		font-size: 38px;
		line-height: 1.0;
	}

	.wtrBlogDfDateDay{
		font-size: 38px;
		line-height: 0.8;
	}

	.wtrFacebookShare,
	.wtrTwitterShare,
	.wtrPinterestShare,
	.wtrTumblrShare,
	.wtrGoogleShare{
		padding: 9px 11px;
	}

	.wtrBlogDfPost{
		padding-bottom: 0px;
	}

	.wtrEventEntryHeadlineContainer{
		min-width: 0;
		width: 100%;
		webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-bottomright: 0px;
		border-bottom-right-radius: 0px;
	}

	.wtrEventEntryMetaContainer{
		width: 100%;
		webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-bottom-left-radius: 3px;
	}

	.wtrEventEntryMetaSocialBtns{
		width: 100%;
		margin-bottom: 30px;
	}

	.wtrEventEntryMetaFacebook{
		margin: 0;
		width: 48%;
	}

	.wtrEventEntryMetaGoogle{
		margin: 0;
		margin-right: 4%;
		width: 48%;
	}

	.wtrEventEntryCategory{
		width: 100%;
		margin-top: 0px;
	}

	.wtrEventEntryPageSidebar{
		margin-top: -20px;
	}

	.wtrClassesDetails{
		margin: 40px 0px 0px 0px;
	}

	.wtrEventEntryPageContainer{
		padding-right: 0px;
	}

	.kyxadqhppwtiwAuthor{
		margin: 20px 0;
	}

	.kyxadqhppwtiwAuthorName{
		text-align: center;
	}

	.kyxadqhppwtiwAuthorName .wtrDefFontCharacter{
		display: none;
	}

	.kyxadqhppwtiwAutorPictureHolder{
		margin: 30px 0 0 0 !important;
		padding: 0 !important;
	}

	.kyxadqhppwtiwAutorPicture{
		margin: 0px auto;
	}

	.kyxadqhppwtiwAuthorSocials{
		width: 100%;
		margin: 5px 0 20px;
		overflow: auto;
	}

	.kyxadqhppwtiwAuthorData {
		padding: 20px;
	}

	.kyxadqhppwtiwAuthorDesc{
		margin-bottom: 0px;
		text-align: center;
	}

	.wtrBlogPostSneakPeak:first-child{
		margin-top: 40px;
	}

	.wtrBlogPostSneakPeak{
		margin-left: 83px;
	}

	.wtrBlogPostSneakPeakDate{
		left: -83px;
	}


	/* Shortcodes */


		.ydopvllvfavfeeqTimeTable{
			display: none;
		}

		.ydopvllvfavfeeqMobileTimeTable{
			display: block;

		}


	/* Image link */

		.wtrContentSidebar .vc_col-sm-2 .fgoffswgkf,
		.vc_col-sm-2 .fgoffswgkf{
			max-height: 70px;
		}

		.wtrContentSidebar .wlaasjchssaoq .fgoffswgkf,
		.wlaasjchssaoq .fgoffswgkf{
			max-height: 120px;
		}

		.wtrContentSidebar .eyaiddifddo .fgoffswgkf,
		.eyaiddifddo .fgoffswgkf{
			max-height: 170px;
		}

		.wtrContentSidebar .ksguifksaiu .fgoffswgkf,
		.ksguifksaiu .fgoffswgkf{
			max-height: 280px;
		}


	/* Wonster Slider */


		.ydopvllvfavfeeqWonsterSliderComponent{
			height: 600px;
		}

		.ydopvllvfavfeeqWonsterSliderControls{
			width: 100% !important;
		}

		.ydopvllvfavfeeqWonsterSlider .alpcplfdkdjjteq,
		.ydopvllvfavfeeqWonsterSliderLayer{
			width: 80%;
		}

		.ydopvllvfavfeeqWonsterSliderControls span.prev{
			left: -5px;
		}

		.ydopvllvfavfeeqWonsterSliderControls span.next{
			right: -5px;
		}

		.ydopvllvfavfeeqWonsterSliderLayer{
			bottom: 80px;
		}

		.ydopvllvfavfeeqWonsterSliderHeadline{
			font-size: 28px !important;
		}

		.ydopvllvfavfeeqWonsterSliderSluglineSec,
		.ydopvllvfavfeeqWonsterSliderSluglineOne{
			margin: 0px !important;
			font-size: 24px !important;
		}



		/* News Metro */


		.ydopvllvfavfeeqLastNewsMetro .zsdsjkqqepsfjpkFourth.ydopvllvfavfeeqLastNewsBoxedItem{
			width: 50%;
		}

		.wtrContentSidebar .ydopvllvfavfeeqLastNewsMetro .ydopvllvfavfeeqLastNewsBoxedHedline{
			font-size: 22px;
		}


		/* News Fancy list */

		.ydopvllvfavfeeqLastNewsListItemTitle{
			font-size: 20px;
		}

		.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemHeadline,
		.ydopvllvfavfeeqLastNewsListItemHeadline{
			width: 55.5%;
		}

		.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemImg,
		.ydopvllvfavfeeqLastNewsListItemImg{
			width: 19.5%;
		}

		.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemMeta,
		.ydopvllvfavfeeqLastNewsListItemMeta{
			right: 23%;
		}


		/* News Boxed */


		.ydopvllvfavfeeqLastNewsModernBoxOthers{
			display: none;
		}


		/* Crew - Blured background */


		.ydopvllvfavfeeqCrewStream{
			margin-bottom: 0px !important;
		}

		.ydopvllvfavfeeqCrewStream.wtrOneCol .wtrCrewItem,
		.ydopvllvfavfeeqCrewStream.wtrTwoCols .wtrCrewItem,
		.ydopvllvfavfeeqCrewStream.wtrFourCols .wtrCrewItem,
		.ydopvllvfavfeeqCrewStream.wtrThreeCols .wtrCrewItem{
			width: 50%;
			margin-right: 0px;
			margin-bottom: 0px;
		}

		.ydopvllvfavfeeqCrewOverlay,
		.wtrCrewItemContainer img{
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}

		.ydopvllvfavfeeqCrewStream.wtrThreeCols .wtrCrewItem:last-child{
			margin-bottom: 0px;
		}

		.wtrCrewItemPictureContainer{
			bottom: 135px;
		}

		.wtrCrewItemName{
			bottom: 90px;
		}

		.wtrCrewItemPosition{
			bottom: 65px;
			opacity: 1;
		}

		.wtrCrewItemSocials{
			bottom: 25px;
			opacity: 1;
		}


		/* Team standard */


		.ydopvllvfavfeeqTrainerOverlay,
		.ydopvllvfavfeeqTrainerData img{
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}


		.ydopvllvfavfeeqTrainerStream{
			margin-bottom: 0px !important;
		}

		.ydopvllvfavfeeqTrainerStream.wtrOneCol .ydopvllvfavfeeqTrainer,
		.ydopvllvfavfeeqTrainerStream.wtrTwoCols .ydopvllvfavfeeqTrainer,
		.ydopvllvfavfeeqTrainerStream.wtrFourCols .ydopvllvfavfeeqTrainer,
		.ydopvllvfavfeeqTrainerStream.wtrThreeCols .ydopvllvfavfeeqTrainer{
			width: 50%;
			margin-right: 0px;
			margin-bottom: 0px;
		}


		/* Step by step */


		.ydopvllvfavfeeqStepByStepItem:after{
			content: '\f063' !important;
			right: 50% !important;
			top: auto !important;
			bottom: -12px !important;
			margin-right: -12px !important;
		}

		.ydopvllvfavfeeqStepByStep.wtrThreeStep .ydopvllvfavfeeqStepByStepItem:last-child,
		.ydopvllvfavfeeqStepByStep.wtrOneStep .ydopvllvfavfeeqStepByStepItem:last-child,
		.ydopvllvfavfeeqStepByStep.wtrTwoSteps .ydopvllvfavfeeqStepByStepItem:last-child,
		.ydopvllvfavfeeqStepByStep.wtrFiveSteps .ydopvllvfavfeeqStepByStepItem:last-child,
		.ydopvllvfavfeeqStepByStep.wtrSixSteps .ydopvllvfavfeeqStepByStepItem:last-child,
		.ydopvllvfavfeeqStepByStep.wtrFourSteps .ydopvllvfavfeeqStepByStepItem:last-child{
			margin-bottom: 0px;
		}

		.ydopvllvfavfeeqStepByStep.wtrThreeStep .ydopvllvfavfeeqStepByStepItem:last-child:after,
		.ydopvllvfavfeeqStepByStep.wtrOneSteps .ydopvllvfavfeeqStepByStepItem:last-child:after,
		.ydopvllvfavfeeqStepByStep.wtrTwoSteps .ydopvllvfavfeeqStepByStepItem:last-child:after,
		.ydopvllvfavfeeqStepByStep.wtrSixSteps .ydopvllvfavfeeqStepByStepItem:last-child:after,
		.ydopvllvfavfeeqStepByStep.wtrFiveSteps .ydopvllvfavfeeqStepByStepItem:last-child:after,
		.ydopvllvfavfeeqStepByStep.wtrFourSteps .ydopvllvfavfeeqStepByStepItem:last-child:after{
			display: none;
		}

		.ydopvllvfavfeeqStepByStep.wtrSixSteps .ydopvllvfavfeeqStepByStepItem,
		.ydopvllvfavfeeqStepByStep.wtrOneStep .ydopvllvfavfeeqStepByStepItem,
		.ydopvllvfavfeeqStepByStep.wtrTwoSteps .ydopvllvfavfeeqStepByStepItem,
		.ydopvllvfavfeeqStepByStep.wtrFiveSteps .ydopvllvfavfeeqStepByStepItem,
		.ydopvllvfavfeeqStepByStep.wtrThreeSteps .ydopvllvfavfeeqStepByStepItem,
		.ydopvllvfavfeeqStepByStep.wtrFourSteps .ydopvllvfavfeeqStepByStepItem{
			width: 100%;
			margin-bottom: 50px;
		}


		/* Classes metro */


		.ydopvllvfavfeeqBoxedClassesCoOneHalf{
			width: 100% !important;
		}

		.ydopvllvfavfeeqBoxedClasses.wtrOneElementSht .ydopvllvfavfeeqBoxedClassesCoOneHalf{
			width: 100% !important;
		}


		/* Classes */


		.ydopvllvfavfeeqClassesStream.wtrFourCols .ydopvllvfavfeeqClasses,
		.ydopvllvfavfeeqClassesStream.wtrThreeCols .ydopvllvfavfeeqClasses,
		.ydopvllvfavfeeqClassesStream.wtrTwoCols .ydopvllvfavfeeqClasses,
		.ydopvllvfavfeeqClassesStream.wtrOneCol .ydopvllvfavfeeqClasses{
			width: 100%;
			margin-bottom: 40px !important;
		}


		/* Events Metro */


		.ydopvllvfavfeeqBoxedEventsCoOneHalf{
			width: 100% !important;
		}


		/* Clinets  */


		.wtrClientsTable .zsdsjkqqepsfjpkFifth{
			width: 50% !important;
			float: left !important;
			margin-top: -1px !important;
		}


		/* Gallery blocks */


		.ydopvllvfavfeeqGallery .zsdsjkqqepsfjpkFourth{
			width: 50% !important;
		}


		/* Instagram gallery */


		.ydopvllvfavfeeqInstagramGallery.fiveInRow .ydopvllvfavfeeqInstagramGalleryItem,
		.ydopvllvfavfeeqInstagramGallery.fourInRow .ydopvllvfavfeeqInstagramGalleryItem,
		.ydopvllvfavfeeqInstagramGallery.threeInRow .ydopvllvfavfeeqInstagramGalleryItem,
		.ydopvllvfavfeeqInstagramGallery.twoInRow .ydopvllvfavfeeqInstagramGalleryItem{
			width: 50%;
		}

		.ydopvllvfavfeeqInstagramGalleryItem{
			padding: 3%;
		}


		/* Others */

		.ydopvllvfavfeeqPassHeadline,
		.ydopvllvfavfeeqOpenHoursDay{
			word-break: break-all;
		}

}


@media screen and (max-width: 767px) {


	.boxed{
		width: 100%;
		margin: 0px;
	}

	.boxed .icgahwoapitlFixed{
		min-width: 100%;
	}

	.icgahwoapitlFixed{
		position: absolute !important; /* ie fix */
	}

	.wtrSmartNavigation,
	.icgahwoapitlSecond{
		display: none;
	}

	.xlxglsqraf{
		width: auto;
	}

/*	.icgahwoapitl.icgahwoapitlFixed{
		position: absolute !important;
		top: 0px;
	}*/

	.vdjwukxhtcsyzfu{
		display: block;
	}

	.icgahwoapitl .wtrQuickContact .icqcspkile{
		margin-bottom: 0px !important;
	}

	.icgahwoapitl .wtrQuickContactInfo .icqcspkile{
		line-height: 1.3;
	}

	.wtrQuickContactInfo{
		margin-top: 0;
	}

	.alpcplfdkdjjteq{ width: 80%; position: relative; }

	.xlxglsqraf{
		margin: 15px 0;
	}

	.ugfewedevd{ display: none; }
	.uueharuzgwcua{ display: block; }

	.uueharuzgwcua{
		font-weight: 100;
		font-size: 28px;
		padding: 10px 15px 5px 15px;
	}

	.qrfejsywxjwq{
		margin-top: -19px;
	}

	.qrfejsywxjwq img{
		display: block;
		width: auto;
		height: 60px;
		vertical-align: middle;
	}

	.icqcspkile,
	.zsdsjkqqepsfjpkFourth{
		width: 100%;
		margin-bottom: 45px !important;
		margin-right: 0px;
	}

	.wtrSidebar.wtrSidebarLeft .wtrSidebarInner,
	.wtrContentSidebar.wtrContentSidebarLeft,
	.wtrSidebar.wtrSidebarLeft,
	.wtrContentSidebar,
	.wtrSidebar{
		width: 100%;
		padding: 0px;
		border-width: 0;
	}

	.wtrSidebarInner{
		padding: 0;
	}

	.gxtfaeedurwj .alpcplfdkdjjteq{
		padding: 45px 0px 0px;
	}

	.zsdsjkqqepsfjpk,
	.icqcspkile,
	.llrtgglkyiyeygp,
	.wtrColTwoThird,
	.zsdsjkqqepsfjpkFourth,
	.wtrColThreeFourth,
	.zsdsjkqqepsfjpkFifth,
	.wtrColTwoFifth,
	.wtrColThreeFifth,
	.wtrColFourFifth,
	.zsdsjkqqepsfjpkSixth,
	.wtrColFiveSixth {
		width: 100%;
	}

	.wtrSidebarInner{
		border: 0;
	}

	.wtrSidebarLeft.wtrSidebarWdg .hveeyardlaje,
	.wtrSidebarWdg .hveeyardlaje{
		padding-left: 0;
		padding-right: 0;
	}

	.wtrPagination .wtrPagiNumber{
		display: none;
	}

	.wtrPaginationList{
		height: 42px;
	}

	.wtrSearchResultsFootline .icqcspkile{
		margin-bottom: 0 !important;
	}

	.wtrSearchResultItemCounter{
		width: 25px;
	}

	ul.wtrSearchResultsList li.wtrSearchResultItem{
		padding-left: 50px;
	}

	ul.wtrSearchResultMetaList{
		margin-top: 5px;
	}

	ul.wtrSearchResultMetaList li{
		padding: 0;
		border: 0;
	}

	.wtrEventStreamItemMetaContainer,
	.wtrEventStreamItemHeadlineContainer{
		position: static;
		left: auto;
		bottom: auto;
	}

	.wtrEventStreamItemHeadlineContainer{
		margin-right: 0px;
	}

	.wtrEventStreamItem .kyxadqhppwtiwOverlay,
	.wtrEventStreamItem .wtrEventStreamItemPic{
		display: none;
	}

	.wtrEventStreamItemTitle a{
		min-width: 0;
		line-height: 1.2;
		font-size: 20px;
	}

	.wtrEventStreamItemMetaList{
		font-size: 12px;
	}

	.wtrEventStreamItem{
		box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15)
	}

	.wtrEventStreamItemMetaList li{
		border: 0;
		float: none;
	}

	.wtrEventStreamItemMetaDate{
		padding: 20px 20px 10px;
	}

	.wtrEventStreamItemMetaTime{
		padding: 0px 20px 0px;
	}

	.wtrEventStreamItemPrice{
		margin-bottom: 20px;
	}

	.wtrEventStreamItemNoPhoto{
		background: transparent;
		padding: 0;
	}

	.wtrEventStreamItemNoPhoto .wtrEventStreamItemHeadlineContainer,
	.wtrEventStreamItemNoPhoto .wtrEventStreamItemMetaContainer{
		float: none;
	}

	.wtrEventStreamItemNoPhoto:hover{
		background: transparent;
	}

	.wtrEventStreamHeadline .wtrEventSelector,
	.wtrEventStreamHeadline .wtrHeadlineElement{
		margin-bottom: 10px !important;
	}

	.wtrEventCategoryList{
		float: none;
	}

	.wtrEventCategoryList li:first-child{
		padding-left: 0px;
	}

	.wtrEventEntryHeadlineContainer{
		min-width: 0;
		width: 100%;
		webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-bottomright: 0px;
		border-bottom-right-radius: 0px;
	}

	.wtrEventEntryMetaContainer{
		width: 100%;
		webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-bottom-left-radius: 3px;
	}

	.wtrEventEntryMetaList li{
		border: 0;
		float: none;
	}

	.wtrEventEntryMetaList li:last-child{
		background-color: transparent;
	}

	.wtrEventEntryTitle{
		font-size: 24px;
		line-height: 1.2;
		padding: 20px;
	}

	.wtrEventEntryMetaDate{
		padding: 20px 20px 0px;
	}

	.wtrEventEntryPrice{
		margin: 5px 20px 20px 20px;
	}

	.wtrEventEntryMetaTime{
		padding: 10px 20px 10px;
	}

	.wtrEventEntryMetaSocialBtns{
		width: 100%;
		margin-bottom: 30px;
	}

	.wtrEventEntryMetaFacebook{
		margin: 0;
		width: 48%;
	}

	.wtrEventEntryMetaGoogle{
		margin: 0;
		margin-right: 4%;
		width: 48%;
	}

	.wtrEventEntryCategory{
		width: 100%;
		margin-top: 0px;
	}

	.wtrEventEntryCategoryItemHeadline{
		margin-bottom: 10px;
	}

	.wtrEventEntryCategoryItem{
		line-height: 1.5;
	}

	.wtrEventEntryCategoryItem a:hover{
		border: 0;
	}

	.wtrEventEntryPageContainer{
		padding-right: 0px;
	}

	.wtrEventEntryPageSidebar{
		margin-top: -20px;
	}

	.wtrClassesDetails{
		margin: 40px 0px 0px 0px;
	}

	.wtrClassesNameHeadline{
		line-height: 1.0;
		display: block;
		font-size: 30px;
		word-break: break-word;
	}

	.wtrClassesNameHeadline,
	.wtrClassesKcalInfo{
		text-align: center;
	}

	.wtrClassesDetailsLevel {
		padding-left: 0px;
	}

	.wtrClassesDifficultMeter{
		width: 188px;
		margin: 0px auto;
	}

	.wtrClassesMeta{
		margin: 40px 0px 0px 0px !important;
	}

	.wtrClassesTimeStopWatch{
		margin: 0px auto;
		float: none;
	}

	.wtrClassesTrainerInfo{
		margin-bottom: 30px;
	}

	.wtrClassesTrainers .wtrHeadlineElement{
		margin-bottom: 40px;
	}

	.wtrClassesTrainerItem{
		border: 0;
		padding: 0;
		margin-bottom: 40px;
		width: 100%;
	}

	.wtrClassesTrainerPicture{
		margin-left: 0px;
	}

	.wtrClassesButtonSection{
		margin-bottom: 30px !important;
	}

	.wtrClassesButtonSection .wtrDefStdButton{
		width: 100%;
		margin-top: 20px;
	}

	.wrtBlogDfPostDateCreated{
		text-align: left;
	}

	.wtrBlogStreamStdContainer .wtrBlogPostSneakPeakImgContainer{
		width: 100%;
	}

	.wtrBlogPostSneakPeakNoImg{
		padding-bottom: 0px 0px 30px 0px;
	}

	.wtrBlogDfDateYear,
	.wtrBlogDfDateMonth{
		margin-right: 5px
	}

	.wtrBlogStreamModernContainer{
		margin-top: 30px;
	}

	.wtrBlogModernPostSneakPeak{
		margin: 0;
		width: 100%;
	}

	.wtrBlogModernPostRow,
	.wtrBlogModernPostSneakPeak:first-child{
		margin-bottom: 30px;
	}

	.wtrBlogPostModernSneakPeakHeadline{
		line-height: 0;
	}

	.wtrBlogPostModernSneakPeakHeadline a{
		font-size: 20px;
		line-height: 1.2;
	}

	.wtrBlogPostModernSneakPeakComments{
		display: none;
	}

	.wtrBreadcrumbPath{
		display: none;
	}

	.wtrBlogStreamStdContainer .wtrBlogPostSneakPeakContainer{
		margin: 30px 0px 30px 0px;
		padding-bottom: 30px;
	}

	.wtrBlogStreamStdContainer .wtrBlogPostSneakPeakDate:after{
		display: none;
	}

	.wtrBlogStreamStdContainer .wtrBlogPostSneakPeak{
		padding: 0;
		margin: 0;
		border: 0;
	}

	.wtrBlogStreamStdContainer .wtrBlogPostSneakPeakImgContainer{
		padding: 0;
		margin: 0 0 20px 0;
	}

	.wtrBlogStreamStdContainer .wtrBlogPostSneakPeakImgContainer img{
		width: 100%;
		height: 100%;
	}

	.wtrBlogStreamStdContainer .wtrBlogDfDateYear,
	.wtrBlogStreamStdContainer .wtrBlogDfDateMonth,
	.wtrBlogStreamStdContainer .wtrBlogDfDateDay{
		display: inline-block;
		font-size: 16px;
	}

	.wtrBlogStreamStdContainer .wtrBlogPostSneakPeakDate{
		position: static;
		left: 0;
		margin-bottom: 10px;
	}

	.wtrBlogStreamStdContainer .wrtBlogDfPostDateCreated{
		float: none;
	}

	.wtrBlogStreamStdContainer .wtrBlogPostSneakPeakLead{
		display: none;
	}

	.wtrBlogPostSneakPeakHeader .wtrDefStdButton{
		margin-top: 30px;
	}

	.wtrBlogPostSneakPeakNoImg{
		padding-bottom: 40px !important;
	}

	.wtrLeftSide .wtrBlogModernPostHeadlineContent,
	.wtrBlogModernPostHeadlineContent{
		padding: 20px;
		margin: 200px 0 30px;
		width: 100%;
	}

	.wtrBlogModernPostCategory{
		margin: 0;
	}

	.wtrBlogModernPostDate{
		margin: 25px 0 0 30px;
	}

	.wtrBlogDfPostContent{
		width: 100%;
		padding: 0px;
		margin: 0px;
		border: 0;
	}

	.wtrModernBlogPost .wtrBlogDfPostAssets{
		display: none;
	}

	.wtrModernBlogPost .rrryqohqheykv{
		padding-top: 10px !important
	}

	.wtrBlogDfPost{
		padding: 30px 0px;
	}

	.wtrLeftSide .wtrBlogDfPostAssets{
		margin: 0;
		padding: 0;
		float: none;
	}

	.wtrBlogDfPost .wtrBlogDfPostAssets{
		width: 100%;
		margin-bottom: 30px;
	}

	.wtrBlogDfPost .wrtBlogDfPostDateCreated{
		float: none;
	}

	.wtrBlogDfPost .wtrBlogDfPostHeaderImg{
		margin-bottom: 30px;
		width: 150%;
		margin-left: -25%;
		margin-right: -25%;
	}

	.wtrBlogDfPost .rrryqohqheykv{
		padding: 30px 0px;
	}

	.wtrBlogDfPost .wtrBlogDfDateYear,
	.wtrBlogDfPost .wtrBlogDfDateMonth,
	.wtrBlogDfPost .wtrBlogDfDateDay{
		display: inline-block;
		font-size: 22px;
	}

	.wtrBlogDfPost .wrtBlogDfPostDate:after{
		display: none;
	}

	.wtrBlogDfPost .wrtBlogDfPostSocialShare{
		display: none;
	}

	.kyxadqhppwtiwPagination{
		margin-top: 10px !important;
	}

	.kyxadqhppwtiwPagination .wtrPagiNumber{
		display: inline-block;
	}

	.wtrRelatedPosts{
		margin: 30px 0 0;
	}

	.kyxadqhppwtiwAuthor{
		margin: 20px 0;
	}

	.kyxadqhppwtiwAuthorName{
		text-align: center;
	}

	.kyxadqhppwtiwAuthorName .wtrDefFontCharacter{
		display: none;
	}

	.kyxadqhppwtiwAutorPictureHolder{
		margin: 30px 0 0 0 !important;
		padding: 0 !important;
	}

	.kyxadqhppwtiwAutorPicture{
		margin: 0px auto;
	}

	.kyxadqhppwtiwAuthorSocials{
		width: 100%;
		margin: 5px 0 20px;
		overflow: auto;
	}

	.kyxadqhppwtiwAuthorData {
		padding: 20px;
	}

	.kyxadqhppwtiwAuthorDesc{
		margin-bottom: 0px;
		text-align: center;
	}

	.wtrCommentList .comment-reply-title{
		width: 100%;
		margin-bottom: 60px;
	}

	.wtrCommentList #respond .logged-in-as{
		position: absolute;
		top: -60px;
		left: 0;
	}

	.wtrCommentList .comment-author .avatar{
		width: 60px;
		height: 60px;
		margin-top: -8px;
	}

	.wtrCommentList .comment-author{
		margin-right: 25px !important;
	}

	.wtrCommentList .depth-2,
	.wtrCommentList .depth-3,
	.wtrCommentList .depth-4,
	.wtrCommentList .depth-5,
	.wtrCommentList .depth-6{
		background-image: none;
		padding: 50px 0 0 0 !important;
	}

	.wtrCommentList .comment .reply{
		height: 82px;
	}

	.wtrCommentList .comment .reply a{
		position: static;
		float: left;
		margin: 20px 0 20px 0;
		display: block;
		width: 100%;
		text-align: center;
		padding: 14px;
	}

	.wtrCommentList .commentSeparator{
		padding-top: 30px;
	}

	.wtrCommentList #respond .form-submit{
		height: 68px;
		position: relative;
		right: 0;
		left: 0;
	}

	.wtrCommentList #respond #submit{
		padding: 14px 0;
		position: absolute;
		left: 15px;
		width: 89%;
	}

	.wtrCommentList #respond #comment,
	.wtrCommentList #respond input[type="text"]{
		padding: 12px 15px;
	}

	.wtrCommentList .comment-respond{
		margin-top: 30px;
	}

	.wtr404Headline{
		font-size: 120px !important;
		text-align: center;
	}

	.wtr404SiteName{
		margin: 0;
		font-size: 22px;
	}

	.wtr404Slug{
		margin-top: 50px;
		font-size: 22px;
		line-height: 1.3;
	}

	.wtr404ElementCol{
		margin-top: 40px;
		margin-bottom: 0;
		width: 100%;
		margin-right: 0;
	}

	.wtr404container .wtrButtonTrRad{
		margin-top: 50px;
	}

	.wtrTrainerPageMeta{
		position: relative;
		padding: 40px 0px 60px;
		text-align: center;
		left: 0px;
		display: block;
	}

	.wtrTrainerPageTrainerSocialLinks{
		margin-left: 15%;
		margin-right: 15%;
	}

	.wtrTrainerPageCover{
		height: auto;
		width: 150%;
		margin-left: -25%;
		margin-right: -25%;
		padding-bottom: 40px;
	}

	.wtrTrainerPagePicture{
		top: 50px;
		left: auto;
		margin: 0px auto;
		position: relative;
	}

	.ggxchsyhjdz .icqcspkile{
		text-align: center;
		margin-bottom: 0px !important;
	}

	.ggxchsyhjdz .rfuxitfkze{
		margin-bottom: 20px !important;
		line-height: 1.2;
	}

	.wtrQuickContact .alpcplfdkdjjteq{
		width: 100%;
	}

	.wtrQuickContact .icqcspkile{
		width: 100%;
		margin: 0;
		text-align: center;
	}

	.wtrQuickContact .wtrQuickContactInfo .icqcspkile{
		width: auto;
		margin: 0 5px;
		float: none;
		display: inline-block;
	}

	.wtrTrainerPageCover{
		width: 100%;
		height: auto;
		margin-right: 0px;
		margin-left: 0px;
	}

	.wtrTrainerPageCover .wtrTrainerPageMeta{
		padding: 20px 0px 60px;
	}

	.wtrTrainerPagePicture{
		top: 40px;
		width: 150px;
		height: 150px;
	}





	/* Shortcodes */


		.ydopvllvfavfeeqDesktopTimeTable{
			display: none;
		}

		.ydopvllvfavfeeqMobileTimeTable{
			display: block;
		}


		/* Image link */


		.wtrContentSidebar .vc_col-sm-2 .fgoffswgkf,
		.vc_col-sm-2 .fgoffswgkf{
			max-height: 290px;
		}

		.wtrContentSidebar .wlaasjchssaoq .fgoffswgkf,
		.wlaasjchssaoq .fgoffswgkf{
			max-height: 290px;
		}

		.wtrContentSidebar .eyaiddifddo .fgoffswgkf,
		.eyaiddifddo .fgoffswgkf{
			max-height: 290px;
		}

		.wtrContentSidebar .ksguifksaiu .fgoffswgkf,
		.ksguifksaiu .fgoffswgkf{
			max-height: 290px;
		}


		/* Tabs - Full width tabs */


		.ydopvllvfavfeeqFullWidthTabs .ydopvllvfavfeeqFWT a:before {
			margin-right: 0;
		}

		.ydopvllvfavfeeqFullWidthTabs .ydopvllvfavfeeqFWT ul,
		.ydopvllvfavfeeqFullWidthTabs .ydopvllvfavfeeqFWT ul li a {
			width: 100%;
			padding: 0;
		}

		.ydopvllvfavfeeqFullWidthTabs .ydopvllvfavfeeqFWT ul li a i{
			margin: 0px 15px 0px 0px;
		}

		.ydopvllvfavfeeqFullWidthTabs .ydopvllvfavfeeqFWT ul li {
			width: 100%;
			text-align: left;
			margin: 0 0 0 -1px;
			padding: 0px 50px;
		}

		.ydopvllvfavfeeqFullWidthTabs .ydopvllvfavfeeqFWT ul li:last-child {
			border-right: none;
		}


		/* Notification */


		.wtrNotification{
			border-radius: 			10px;
			-moz-border-radius: 	10px;
			-webkit-border-radius: 	10px;
		}


		/* Google Maps */


		.ydopvllvfavfeeqGoogleMapsInfoBox{
			display: none;
		}

		.ydopvllvfavfeeqGoogleMapsInfoBoxMobile{
			display: block !important;
			padding: 30px 0;
		}


		/* Last news - Metro */


		.wtrContentSidebar .ydopvllvfavfeeqLastNewsMetro .ydopvllvfavfeeqLastNewsBoxedHedline{
			font-size: 19px;
		}

		.wtrContentSidebar .ydopvllvfavfeeqLastNewsMetro .ydopvllvfavfeeqLastNewsBoxedDate,
		.wtrContentSidebar .ydopvllvfavfeeqLastNewsMetro .ydopvllvfavfeeqLastNewsBoxedAuthor,
		.wtrContentSidebar .ydopvllvfavfeeqLastNewsMetro .ydopvllvfavfeeqLastNewsBoxedAuthor a,
		.ydopvllvfavfeeqLastNewsMetro .ydopvllvfavfeeqLastNewsBoxedAuthor,
		.ydopvllvfavfeeqLastNewsMetro .ydopvllvfavfeeqLastNewsBoxedAuthor a,
		.ydopvllvfavfeeqLastNewsMetro .ydopvllvfavfeeqLastNewsBoxedDate{
			font-size: 14px;
		}

		.ydopvllvfavfeeqLastNewsMetro .zsdsjkqqepsfjpkFourth{
			width: 100%;
			margin: 0 !important;
		}

		.rrryqohqheykv img,
		.rrryqohqheykv a img{
			max-width: 100%;
		}

		.ydopvllvfavfeeqLastNewsMetro .ydopvllvfavfeeqLastNewsBoxedItemHolder{
			width: 100%;
		}

		.ydopvllvfavfeeqLastNewsMetro .ydopvllvfavfeeqLastNewsBoxedItemHolder:hover .ydopvllvfavfeeqLastNewsBoxedZoom,
		.ydopvllvfavfeeqLastNewsMetro .ydopvllvfavfeeqLastNewsBoxedZoom{
			-webkit-transform: scale(2.0);
			-moz-transform: scale(2.0);
			-ms-transform: scale(2.0);
			-o-transform: scale(2.0);
			transform: scale(2.0);
		}

		/* Last news - modern List */


		.ydopvllvfavfeeqLastNewsList .wtrPagination{
			margin-top: 30px;
			margin-bottom: 0px;
		}

		.ydopvllvfavfeeqLastNewsList .wtrPagination .wtrPagiNumber{
			display: none;
		}

		.ydopvllvfavfeeqLastNewsList .wtrPagination .wtrPaginationList{
			height: 40px;
		}

		.ydopvllvfavfeeqLastNewsListStreamItem{
			overflow: visible;
			height: auto;
			padding: 40px 0;
		}

		.ydopvllvfavfeeqLastNewsListStreamItem:first-child{
			padding-top: 0;
		}

		.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemImg,
		.ydopvllvfavfeeqLastNewsListItemAuthor,
		.ydopvllvfavfeeqLastNewsListItemImg{
			display: none;
		}

		.ydopvllvfavfeeqLastNewsListStreamItem:hover .ydopvllvfavfeeqLastNewsListItemTitle{
			margin-top: 60px !important;
		}

		.ydopvllvfavfeeqLastNewsListItemDate{
			border: 0;
			padding: 0;
		}

		.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemMeta,
		.ydopvllvfavfeeqLastNewsListItemMeta{
			width: 100%;
			right: auto;
			top: 0px;
		}

		.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemHeadline,
		.ydopvllvfavfeeqLastNewsListItemHeadline{
			width: 100%;
		}

		.ydopvllvfavfeeqLastNewsListStreamItem:hover .ydopvllvfavfeeqLastNewsListItemTitle{
			margin-top: 50px;
		}

		.ydopvllvfavfeeqLastNewsListItemTitle{
			font-size: 18px;
			overflow: visible;
			text-overflow: normal;
			white-space: normal;
			line-height: 1.3;
			margin-top: 50px;
		}

		.ydopvllvfavfeeqLastNewsListItemLead{
			margin-top: 10px;
			white-space: normal;
		}

		.wtrContentSidebar .ydopvllvfavfeeqLastNewsListItemImg{
			display: none;
		}

		.ydopvllvfavfeeqLastNewsListStream li:last-child{
			padding-bottom: 0px;
		}


		/* Last news - Boxes */


		.ydopvllvfavfeeq.ydopvllvfavfeeqLastNewsModern{
			margin-bottom: 40px;
		}

		.ydopvllvfavfeeqLastNewsModern .owl-controls{
			width: 100%;
			bottom: -40px;
			left: 0px;
			right: 0px;
		}

		.ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxDate,
		.ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxAutorContainer a,
		.ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxAutorContainer{
			font-size: 14px;
		}

		.ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxHedaline{
			line-height: 0.7 !important;
		}

		.ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxHedaline a{
			font-size: 20px;
		}

		.ydopvllvfavfeeqLastNewsModern .ydopvllvfavfeeqLastNewsModernBoxAuthorImg{
			width: 25px;
			height: 25px;
		}

		.ydopvllvfavfeeqLastNewsModernBoxComments{
			display: none;
		}


		/* Last news - timeline */


		.ydopvllvfavfeeqLastNewsStandard .wtrPagination{
			margin-top: 30px;
			margin-bottom: 0px;
		}

		.ydopvllvfavfeeqLastNewsStandard .wtrPagination .wtrPagiNumber{
			display: none;
		}

		.ydopvllvfavfeeqLastNewsStandard .wtrPagination .wtrPaginationList{
			height: 40px;
		}

		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardOther{
			margin: 20px 0px 30px 0px;
		}

		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardContainer{
			margin-bottom: 30px;
			padding-bottom: 0px
		}

		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardDate:after{
			display: none;
		}

		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardItem{
			padding: 0;
			margin: 0;
			border: 0;
		}

		.ydopvllvfavfeeqLastNewsStandard article:last-child .ydopvllvfavfeeqLastNewsStandardImgContainer,
		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardImgContainer{
			padding: 0;
			margin: 0 0 20px 0;
			width: 100%;
		}

		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardImgContainer img{
			width: 100%;
			height: 100%;
		}

		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardDateYear,
		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardDateMonth,
		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardDateDay{
			display: inline-block;
			font-size: 16px;
		}

		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardDateMonth,
		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardDateYear{
			margin-right: 5px;
			font-weight: normal;
		}

		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardDate{
			position: static;
			left: 0;
			margin: 0;
		}

		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardDateCreated{
			float: none;
		}

		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardLead{
			display: none;
		}

		.ydopvllvfavfeeqLastNewsStandard .ydopvllvfavfeeqLastNewsStandardDateCreated{
			text-align: left;
			margin-bottom: 15px;
		}

		.ydopvllvfavfeeqLastNewsStandard article:last-child .ydopvllvfavfeeqLastNewsStandardContainer{
			padding-bottom: 0px;
		}


		/* Events - Boxed */


		.ydopvllvfavfeeqBoxedEventsColTwo,
		.ydopvllvfavfeeqBoxedEventsColTwoSec,
		.ydopvllvfavfeeqBoxedEventsCoOneHalf{
			width: 100%;
		}

		.ydopvllvfavfeeqBoxedEventsSpace .ydopvllvfavfeeqBoxedEventsHeadline a{
			font-size: 20px;
		}

		.ydopvllvfavfeeqBoxedEventsReadMore{
			opacity: 1;
			margin-left: 0px;
		}

		.ydopvllvfavfeeqBoxedEvents.ydopvllvfavfeeqOrderChange .ydopvllvfavfeeqBoxedEventsColTwoSec:after,
		.ydopvllvfavfeeqBoxedEventsColTwoSec:before{
			left: 50%;
			opacity: 1;
			margin-left: -20px;
			border-color: transparent   transparent #1fce6d transparent;
			top: -40px;
		}

		.ydopvllvfavfeeqBoxedEvents.ydopvllvfavfeeqOrderChange:hover .ydopvllvfavfeeqBoxedEventsColTwoSec:after,
		.ydopvllvfavfeeqBoxedEventsSpace:hover .ydopvllvfavfeeqBoxedEventsColTwoSec:before{
			left: 50%;
			opacity: 1;
		}


		/* Events Metro */


		.ydopvllvfavfeeqBoxedEventsColTwo,
		.ydopvllvfavfeeqBoxedEventsColTwoSec,
		.ydopvllvfavfeeqBoxedEventsCoOneHalf{
			width: 100% !important;
		}

		.ydopvllvfavfeeqBoxedEventsColTwoSec:before{
			left: 50% !important;
			margin-left: -20px;
			pacity: 0;
			top: 0px;
		}

		.ydopvllvfavfeeqBoxedEvents.ydopvllvfavfeeqOrderChange:hover .ydopvllvfavfeeqBoxedEventsColTwoSec:after,
		.ydopvllvfavfeeqBoxedEventsSpace:hover .ydopvllvfavfeeqBoxedEventsColTwoSec:before{
			left: 50% !important;
			opacity: 1;
			margin-left: -20px;
			border-color: transparent   transparent #1fce6d transparent;
			top: -40px;
		}

		.ydopvllvfavfeeqBoxedEventsSpace:hover .ydopvllvfavfeeqBoxedEventsColTwoSec:before{
			left: 50% !important;
			opacity: 1 !important;
		}

		.ydopvllvfavfeeqBoxedEvents .ydopvllvfavfeeqBoxedEventsSpace img{
			width: 100%;
		}


		/* Crew blured */


		.ydopvllvfavfeeqCrewStream.wtrOneCol .wtrCrewItem,
		.ydopvllvfavfeeqCrewStream.wtrTwoCols .wtrCrewItem,
		.ydopvllvfavfeeqCrewStream.wtrFourCols .wtrCrewItem,
		.ydopvllvfavfeeqCrewStream.wtrThreeCols .wtrCrewItem{
			width: 100%;
			margin-bottom: 40px;
		}

		.ydopvllvfavfeeqCrewStream.wtrThreeCols .wtrCrewItem:last-child{
			margin-bottom: 0px;
		}

		.wtrCrewItemPictureContainer{
			bottom: 135px;
		}

		.wtrCrewItemName{
			bottom: 90px;
		}

		.wtrCrewItemPosition{
			bottom: 65px;
			opacity: 1;
		}

		.wtrCrewItemSocials{
			bottom: 25px;
			opacity: 1;
		}


		/* Team standard */


		.ydopvllvfavfeeqTrainerStream.wtrOneCol .ydopvllvfavfeeqTrainer,
		.ydopvllvfavfeeqTrainerStream.wtrTwoCols .ydopvllvfavfeeqTrainer,
		.ydopvllvfavfeeqTrainerStream.wtrFourCols .ydopvllvfavfeeqTrainer,
		.ydopvllvfavfeeqTrainerStream.wtrThreeCols .ydopvllvfavfeeqTrainer{
			width: 100%;
			margin-right: 0px;
			margin-bottom: 30px;
		}

		.ydopvllvfavfeeqTrainerStream{
			margin-bottom: 30px !important;
		}


		/* Gallery blocks */


		.ydopvllvfavfeeqGallery .zsdsjkqqepsfjpkFourth{
			width: 100% !important;
		}


		/* Counter */


		.ydopvllvfavfeeqCountdown .countdown-show4 .countdown-period{
			font-size: 12px;
		}

		.ydopvllvfavfeeqCountdownLight{
			border-radius: 5px;
			padding: 10px 0px 15px 0px;
			margin: 0px;
			border-width: 3px;
		}

		.ydopvllvfavfeeqCountdownLight .countdown-show4 .countdown-section{
			width: 24.5%;
			padding: 0;
			margin: 0;
		}

		.ydopvllvfavfeeqCountdownLight .countdown-show4 .countdown-period{
			margin-top:-5px;
			font-size: 12px !important;
		}

		.ydopvllvfavfeeqCountdownLight .countdown-show4 .countdown-amount{
			font-size: 26px;
		}


		/* Clients - table */


		.wtrClientsTable .zsdsjkqqepsfjpkFifth{
			width: 100% !important;
			float: left !important;
			margin-top: -1px !important;
		}


		/* Clients - slider */


		.wtrClinetsCarusel{
			margin-top: 40px  !important;
		}

		.wtrClinetsCarusel .owl-controls {
			margin-top: 20px;
			position: static !important;
			top: auto !important;
			right: auto !important;
			text-align: center;
		}

		.ydopvllvfavfeeqClinetsCaruselContainer .ydopvllvfavfeeqHeadline{
			display: none  !important;
		}

		.wtrClinetsCaruselItem .wtrClinetsCaruselItemImg{
			max-width: 100% !important;
		}


		/* Classes */


		.ydopvllvfavfeeqClassesStream.wtrFourCols .ydopvllvfavfeeqClasses,
		.ydopvllvfavfeeqClassesStream.wtrThreeCols .ydopvllvfavfeeqClasses,
		.ydopvllvfavfeeqClassesStream.wtrTwoCols .ydopvllvfavfeeqClasses,
		.ydopvllvfavfeeqClassesStream.wtrOneCol .ydopvllvfavfeeqClasses{
			width: 100%;
			margin-bottom: 40px;
		}


		/* Tabs */


		.ydopvllvfavfeeqTabs ul.resp-tabs-list {
			display: none;
		}

		.ydopvllvfavfeeqTabs .ydopvllvfavfeeqTabList li{
			border: 0px;
			width: 100%;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			padding: 25px 25px;
		}

		.ydopvllvfavfeeqTabs h2.resp-accordion {
			display: block;
			font-size: 16px;
			padding: 15px 25px;
		}

		.ydopvllvfavfeeqTabs h2.resp-tab-active{
			padding: 15px 25px !important;
		}

		.ydopvllvfavfeeqTabs h2.resp-accordion i{
			margin-right: 10px;
		}

		.ydopvllvfavfeeqTabs h2.resp-accordion:first-child{
			border-top: 0px;
		}

		.ydopvllvfavfeeqTabs h2.resp-accordion{
			border: 0px;
			border-top: 1px solid #e5e5e5;
		}

		.ydopvllvfavfeeqTabs .resp-tab-content,
		.ydopvllvfavfeeqTabs .resp-vtabs .resp-tab-content {
			border: 0px !important;
		}

		.ydopvllvfavfeeqTabs .ydopvllvfavfeeqHorizontalTab{
			border: 1px solid #e5e5e5;
			border-radius: 3px;
		}

		.ydopvllvfavfeeqTabs .resp-vtabs .resp-tabs-container {
			float: none;
			width: 100%;
			min-height: initial;
			clear: none;
		}

		.ydopvllvfavfeeqTabs .resp-accordion-closed {
			display:none !important;
		}

		.ydopvllvfavfeeqTabs .resp-vtabs .resp-tab-content:last-child {
			border-bottom: 1px solid #c1c1c1 !important;
		}


		/* Classes box */


		.ydopvllvfavfeeqClassesListItem .ydopvllvfavfeeqBoxedClassesSkill{
			float: none;
			height: 25px;
			margin: 5px 0px 0px 0px;
		}

		.ydopvllvfavfeeqClassesListItem .ydopvllvfavfeeqClassesListTittle{
			display: block;
			float: none;
			width: 100%;
			margin: 10px 0px 5px;
		}

		.ydopvllvfavfeeqClassesListItemRight{
			float: none;
			width: 100%;
		}

		.ydopvllvfavfeeqClassesElements {
			opacity: 1;
			bottom: 10px;
		}

		.ydopvllvfavfeeqClassesArrow {
			opacity: 1;
			top: 50%;
			margin-top: -45px;
		}
/*
		.ydopvllvfavfeeqClassesStream.wtrOneCols .ydopvllvfavfeeqClasses,
		.ydopvllvfavfeeqClassesStream.wtrTwoCols .ydopvllvfavfeeqClasses,
		.ydopvllvfavfeeqClassesStream.wtrThreeCols .ydopvllvfavfeeqClasses,
		.ydopvllvfavfeeqClassesStream.wtrFourCols .ydopvllvfavfeeqClasses{
			width: 100% !important;
			margin: 0px !important;
		}*/


		/* Classes metro */


		.ydopvllvfavfeeqBoxedClassesCoOneHalf,
		.ydopvllvfavfeeqBoxedClassesColTwo, .ydopvllvfavfeeqBoxedClassesColTwoSec{
			width: 100% !important;
		}

		.ydopvllvfavfeeqBoxedClassesSpace:hover .ydopvllvfavfeeqBoxedClassesColTwoSec:before,
		.ydopvllvfavfeeqBoxedClassesColTwoSec:before{
			border-color: transparent transparent #000000 transparent !important;;
			top: -40px !important;;
			left: 50% !important;;
			margin-left: -20px !important;;
		}

		.ydopvllvfavfeeqBoxedClasses.ydopvllvfavfeeqOrderChange .ydopvllvfavfeeqBoxedClassesSpace:hover .ydopvllvfavfeeqBoxedClassesColTwoSec:before{
			display: block !important;;
		}

		.ydopvllvfavfeeqBoxedClassesColTwoSec:after,
		.ydopvllvfavfeeqBoxedClasses.ydopvllvfavfeeqOrderChange .ydopvllvfavfeeqBoxedClassesSpace:hover .ydopvllvfavfeeqBoxedClassesColTwoSec:after{
			display: none !important;;
		}

		.ydopvllvfavfeeqBoxedClassesTime{
			opacity: 1 !important;;
			margin-left: 10px !important;;
		}


		/* Passes list */


		.ydopvllvfavfeeqPassesListClassesName{
			width: 100%;
		}

		.ydopvllvfavfeeqPassesListClassesPrice{
			position: relative;
			right: auto;
			top: auto;
			margin-top: 20px;
			text-align: center;
		}


		/* Rooms */


		.ydopvllvfavfeeqRoomIcon,
		.ydopvllvfavfeeqRoomSeparator{
			display: none;
		}

		.ydopvllvfavfeeqRoomName{
			margin-bottom: 30px;
		}

		.ydopvllvfavfeeqRoomClasses{
			width: 100%;
		}


		/* Step by step */


		.ydopvllvfavfeeqStepByStepItem:after{
			content: '\f063' !important;
			right: 50% !important;
			top: auto !important;
			bottom: -12px !important;
			margin-right: -12px !important;
		}

		.ydopvllvfavfeeqStepByStep.wtrThreeStep .ydopvllvfavfeeqStepByStepItem:last-child,
		.ydopvllvfavfeeqStepByStep.wtrOneStep .ydopvllvfavfeeqStepByStepItem:last-child,
		.ydopvllvfavfeeqStepByStep.wtrTwoSteps .ydopvllvfavfeeqStepByStepItem:last-child,
		.ydopvllvfavfeeqStepByStep.wtrFiveSteps .ydopvllvfavfeeqStepByStepItem:last-child,
		.ydopvllvfavfeeqStepByStep.wtrSixSteps .ydopvllvfavfeeqStepByStepItem:last-child,
		.ydopvllvfavfeeqStepByStep.wtrFourSteps .ydopvllvfavfeeqStepByStepItem:last-child{
			margin-bottom: 0px;
		}

		.ydopvllvfavfeeqStepByStep.wtrThreeStep .ydopvllvfavfeeqStepByStepItem:last-child:after,
		.ydopvllvfavfeeqStepByStep.wtrOneSteps .ydopvllvfavfeeqStepByStepItem:last-child:after,
		.ydopvllvfavfeeqStepByStep.wtrTwoSteps .ydopvllvfavfeeqStepByStepItem:last-child:after,
		.ydopvllvfavfeeqStepByStep.wtrSixSteps .ydopvllvfavfeeqStepByStepItem:last-child:after,
		.ydopvllvfavfeeqStepByStep.wtrFiveSteps .ydopvllvfavfeeqStepByStepItem:last-child:after,
		.ydopvllvfavfeeqStepByStep.wtrFourSteps .ydopvllvfavfeeqStepByStepItem:last-child:after{
			display: none;
		}

		.ydopvllvfavfeeqStepByStep.wtrSixSteps .ydopvllvfavfeeqStepByStepItem,
		.ydopvllvfavfeeqStepByStep.wtrOneStep .ydopvllvfavfeeqStepByStepItem,
		.ydopvllvfavfeeqStepByStep.wtrTwoSteps .ydopvllvfavfeeqStepByStepItem,
		.ydopvllvfavfeeqStepByStep.wtrFiveSteps .ydopvllvfavfeeqStepByStepItem,
		.ydopvllvfavfeeqStepByStep.wtrThreeSteps .ydopvllvfavfeeqStepByStepItem,
		.ydopvllvfavfeeqStepByStep.wtrFourSteps .ydopvllvfavfeeqStepByStepItem{
			width: 100%;
			margin-bottom: 50px;
		}


		/* Counter */


		.ydopvllvfavfeeqCountdown .countdown-amount{
			font-size: 26px;
		}


		/* Gallery */


		.ydopvllvfavfeeqGallery .zsdsjkqqepsfjpkFourth{
			width: 100%;
		}


		/* Trainers */


		.ydopvllvfavfeeqTrainerStream.wtrThreeCols .ydopvllvfavfeeqTrainer{
			width: 100%;
			margin-bottom: 20px;
		}


		/* Wonster Slider */


		.ydopvllvfavfeeqWonsterSliderComponent{
			height: 400px;
		}

		.ydopvllvfavfeeqWonsterSliderControls{
			width: 100% !important;
		}

		.ydopvllvfavfeeqWonsterSliderControls a.next {
			left: -5px !important;
		}

		.ydopvllvfavfeeqWonsterSliderControls a.prev {
			right: -5px !important;
		}

		.ydopvllvfavfeeqWonsterSliderLayer{
			width: 100% !important;
			bottom: 80px;
			margin-top: -30px;
			padding: 0px 40px !important;
		}

		.ydopvllvfavfeeqWonsterSlider .alpcplfdkdjjteq{
			width: 100% !important;
		}

		.ydopvllvfavfeeqWonsterSliderLayerMeta{
			padding: 0px 10px;
		}

		.ydopvllvfavfeeqWonsterSliderHeadline{
			font-size: 22px !important;
		}

		.ydopvllvfavfeeqWonsterSliderSluglineSec,
		.ydopvllvfavfeeqWonsterSliderSluglineOne{
			margin: 0px !important;
			font-size: 18px !important;
		}

		.ydopvllvfavfeeqWonsterSliderControlsContainer{
			bottom: 0px;
			margin-top: 0px;
			height: 30px;
		}

		.ydopvllvfavfeeqWonsterSliderControls span{
			bottom: 0px;
			top: 0px;
			width: 35px;
			height: 45px;
		}

		.ydopvllvfavfeeqWonsterSliderControls span.next:before,
		.ydopvllvfavfeeqWonsterSliderControls span.prev:before{
			font-size: 18px;
			top: 14px;
		}

		.ydopvllvfavfeeqWonsterSliderControls span.prev{
			left: -5px !important;
		}

		.ydopvllvfavfeeqWonsterSliderControls span.next{
			right: -5px !important;
		}

		.ydopvllvfavfeeqWonsterSliderDots{
			display: none;
		}


		/* Instagram gallery */


		.ydopvllvfavfeeqInstagramGallery.fiveInRow .ydopvllvfavfeeqInstagramGalleryItem,
		.ydopvllvfavfeeqInstagramGallery.fourInRow .ydopvllvfavfeeqInstagramGalleryItem,
		.ydopvllvfavfeeqInstagramGallery.threeInRow .ydopvllvfavfeeqInstagramGalleryItem,
		.ydopvllvfavfeeqInstagramGallery.twoInRow .ydopvllvfavfeeqInstagramGalleryItem{
			width: 100%;
		}

		.ydopvllvfavfeeqInstagramGalleryItem{
			padding: 3%;
		}


		/* Daily schedule */

		.wtrDailySchedule{
			height: auto;
		}

		.wtrDailyScheduleRotatorColumn,
		.wtrDailyScheduleHeadlineColumn{
			width: 100%;
		}

		.wtrDailyScheduleHeadlineMeta{
			position: relative;
			margin: 30px 0;
			width: 100%;
			text-align: center;
		}

		.wtrDailyScheduleHeadlineColumn{
			height: auto;
		}

		.wtrDSNavigation{
			display: none;
		}


		/* VC Column */

		.kveyyhcozcswa .ppyveflxtetap{
			margin-bottom: 20px;
		}

		.pguoarlafpgelxe .ppyveflxtetap{
			margin: 0px;
		}

		.pguoarlafpgelxe .ppyveflxtetap.tvckgfdutxkiqzt:first-child .wxvjeuqrvpgwh{
			-webkit-border-top-left-radius: 	5px;
			-webkit-border-bottom-left-radius: 	0px;
			-moz-border-radius-topleft: 		5px;
			-moz-border-radius-bottomleft: 		0px;
			border-top-left-radius: 			5px;
			border-bottom-left-radius: 			0px;
			-webkit-border-top-right-radius: 	5px;
			-webkit-border-bottom-right-radius: 0px;
			-moz-border-radius-topright: 		5px;
			-moz-border-radius-bottomright: 	0px;
			border-top-right-radius: 			5px;
			border-bottom-right-radius: 		0px;
		}

		.pguoarlafpgelxe .ppyveflxtetap.tvckgfdutxkiqzt:last-child .wxvjeuqrvpgwh{
			-webkit-border-top-left-radius: 	0px;
			-webkit-border-bottom-left-radius: 	5px;
			-moz-border-radius-topleft: 		0px;
			-moz-border-radius-bottomleft: 		5px;
			border-top-left-radius: 			0px;
			border-bottom-left-radius: 			5px;
			-webkit-border-top-right-radius: 	0px;
			-webkit-border-bottom-right-radius: 5px;
			-moz-border-radius-topright: 		0px;
			-moz-border-radius-bottomright: 	5px;
			border-top-right-radius: 			0px;
			border-bottom-right-radius: 		5px;
		}

}




/* Symetrio update 2.4 */


@media screen and (min-width:1280px){

	.icgahwoapitlBoxed {
		width: 1280px !important;
		border: 0px !important;
	}

}


@media screen and (max-width: 1300px) and (min-width: 1180px) {

	.icgahwoapitlBoxed {
		width: 1240px !important;
		border: 0px !important;
	}

	.icgahwoapitlBoxed.rovcezkjfwkekp .kuhwdkahcry{
		width: 1240px !important;
	}

}


@media screen and (max-width: 1250px) and (min-width: 1100px) {

	.icgahwoapitlBoxed{
		width: 1080px !important;
	}

	.icgahwoapitlBoxed.rovcezkjfwkekp .kuhwdkahcry{
		width: 1080px !important;
	}

}


@media screen and (max-width: 1100px ) and (min-width: 991px ) {

	.icgahwoapitlBoxed {
		width: 990px !important
	}

	.icgahwoapitlBoxed.rovcezkjfwkekp .kuhwdkahcry{
		width: 986px !important;
	}

}


@media screen and (max-width: 991px) and (min-width: 768px) {

	.icgahwoapitlBoxed {
		width: 90% !important;
	}

	.icgahwoapitlBoxed .alpcplfdkdjjteq{
		width: 90% !important;
	}

	.icgahwoapitlBoxed.rovcezkjfwkekp .kuhwdkahcry{
		width: 90% !important;
	}

	#fp-nav{
		display: none;
	}

}


@media screen and (max-width: 767px) {

	.icgahwoapitlBoxed {
		width: 90% !important;
	}

	.icgahwoapitlBoxed .alpcplfdkdjjteq{
		width: 90% !important;
	}

	.icgahwoapitlBoxed.rovcezkjfwkekp .kuhwdkahcry{
		width: 90% !important;
	}

	#fp-nav{
		display: none;
	}

}




/* Symetrio update 3.6 */


@media screen and (max-width: 767px) {

	.pghikaeygdauxqc .zsdsjkqqepsfjpk .hveeyardlaje_nav_menu{
		margin-bottom: 20px !important;
	}

	.pghikaeygdauxqc .zsdsjkqqepsfjpk .hveeyardlaje_nav_menu ul li{
		display: block !important;
	}

	.pghikaeygdauxqc .zsdsjkqqepsfjpk .hveeyardlaje_nav_menu ul li a{
		margin-right: 0px !important;
		padding-right: 0px !important;
	}

}



/* Symetrio update 4.0 */


@media screen and (min-width:1280px){
	.wtrSimpleNavOverlay,
	.wtrSimpleMobileNavContainer,
	.wtrMobileMenu{
		display: none !important;
	}
}


@media screen and (max-width: 1300px) and (min-width: 1180px) {
	.wtrSimpleNavOverlay,
	.wtrSimpleMobileNavContainer,
	.wtrMobileMenu{
		display: none !important;
	}
}


@media screen and (max-width: 1250px) and (min-width: 1100px) {
	.wtrSimpleNavOverlay,
	.wtrSimpleMobileNavContainer,
	.wtrMobileMenu{
		display: none !important;
	}
}


@media screen and (max-width: 1100px ) and (min-width: 991px ) {
	.wtrSimpleNavOverlay,
	.wtrSimpleMobileNavContainer,
	.wtrMobileMenu{
		display: none !important;
	}
}


@media screen and (max-width: 991px) and (min-width: 768px) {
	
	.ijocgcjwxrdrruz-language,
	.wtrSimpleNavEnabled .xlxglsqraf{
		display: none;
	}

	.wtrBH .wolrgjfyyjty.icgahwoapitlBoxed .alpcplfdkdjjteq{
		position: relative;
		z-index: 9999;
	}

	.wtrBH .wtrSimpleMobileNav{
		width: 90%;
		margin: 0px auto;
		padding-left: 0px;
		padding-right: 0px;
	}

	.wtrBH .wtrSimpleMobileHeader{
		width: 90% !important;
		margin: 40px auto 0px;
		padding-left: 0px;
	}

	.wtrBH .wtrExpander{
		right: -22px;
		width: 50px;
	}

	.wtrBH .wtrExpander span{
		left: 8px;
	}

	.wtrBH .wtrMainNaviList{
		width: 90% !important;
		margin: 40px auto 0px;
	}

	.wtrBH .wtrMainNaviList span,
	.wtrBH .wtrMainNaviList a{
		margin-left: -20px;
		padding-left: 20px;
		margin-right: -20px;
		padding-right: 20px;
	}

	.wtrBH .wtrSimpleMobileNav ul li ul li span,
	.wtrBH .wtrSimpleMobileNav ul li ul li a{
		padding: 15px 20px !important;
		margin: 0px -20px 0px 0px !important;
	}

	.wtrBH .wtrSimpleMobileNav div.wtrExpander span{
		padding: 0px !important;
	}

	.wtrBH .wtrSimpleMobileNav .sub-menu div.wtrExpander{
		right: -2px !important;
		top: 0px !important;
	}


	/* Boxed non transparent */

	.wtrBNTH.wtrSimpleNavOn .wolrgjfyyjty.icgahwoapitlBoxed{
		position: relative;
		z-index: 9999;
		background-color: transparent !important
	}

	.wtrBNTH .wtrSimpleMobileNav{
		width: 90%;
		margin: 0px auto;
		padding-left: 0px;
		padding-right: 0px;
	}

	.wtrBNTH .wtrSimpleMobileHeader{
		width: 90% !important;
		margin: 0px auto 0px;
		padding-left: 0px;
	}

	.wtrBNTH .wtrExpander{
		right: -22px;
		width: 50px;
	}

	.wtrBNTH .wtrExpander span{
		left: 8px;
	}

	.wtrBNTH .wtrMainNaviList{
		width: 90% !important;
		margin: 40px auto 0px;
	}

	.wtrBNTH .wtrMainNaviList span,
	.wtrBNTH .wtrMainNaviList a{
		margin-left: -20px;
		padding-left: 20px;
		margin-right: -20px;
		padding-right: 20px;
	}

	.wtrBNTH .wtrSimpleMobileNav ul li ul li span,
	.wtrBNTH .wtrSimpleMobileNav ul li ul li a{
		padding: 15px 20px !important;
		margin: 0px -20px 0px 0px !important;
	}

	.wtrBNTH .wtrSimpleMobileNav div.wtrExpander span{
		padding: 0px !important;
	}

	.wtrBNTH .wtrSimpleMobileNav .sub-menu div.wtrExpander{
		right: -2px !important;
		top: 0px !important;
	}


	/* Standard Header */

	.rihzjiwfgvlp .wtrSimpleMobileNav ul.wtrMainNaviList{
		margin-top: 15px !important;
	}

	.rihzjiwfgvlp .wtrSimpleMobileHeader{
		margin: 0px 0px 0px 20px;
	}

	.rihzjiwfgvlp.wtrSimpleNavOn .icgahwoapitl{
		z-index: 9999;
		background-color: transparent !important;
		position: relative;
		border-bottom: 0px;
	}

	.rihzjiwfgvlp .wtrSimpleMobileNav{
		width: 90%;
		margin: 0px auto;
		padding-left: 0px;
		padding-right: 0px;
	}

	.rihzjiwfgvlp .wtrSimpleMobileHeader{
		width: 90% !important;
		margin: 0px auto 0px;
		padding-left: 0px;
	}

	.rihzjiwfgvlp .wtrExpander{
		right: -22px;
		width: 50px;
	}

	.rihzjiwfgvlp .wtrExpander span{
		left: 8px;
	}

	.rihzjiwfgvlp .wtrMainNaviList{
		width: 90% !important;
		margin: 40px auto 0px;
	}

	.rihzjiwfgvlp .wtrMainNaviList span,
	.rihzjiwfgvlp .wtrMainNaviList a{
		margin-left: -20px;
		padding-left: 20px;
		margin-right: -20px;
		padding-right: 20px;
	}

	.rihzjiwfgvlp .wtrSimpleMobileNav ul li ul li span,
	.rihzjiwfgvlp .wtrSimpleMobileNav ul li ul li a{
		padding: 15px 20px !important;
		margin: 0px -20px 0px 0px !important;
	}

	.rihzjiwfgvlp .wtrSimpleMobileNav div.wtrExpander span{
		padding: 0px !important;
	}

	.rihzjiwfgvlp .wtrSimpleMobileNav .sub-menu div.wtrExpander{
		right: -2px !important;
		top: 0px !important;
	}

	.wtrSimpleNavOn .wtrQuickContact{
		display: none;
	}


	/* PayPal button fix */

	.ydopvllvfavfeeqPayPalButton.rightIcon a,
	.ydopvllvfavfeeqPayPalButton.leftIcon a{
		padding: 20px 30px 20px 30px;
	}

	.ydopvllvfavfeeqPayPalButton.rightIcon span{
		margin-left: 20px;
		padding: 0;
		background-color: transparent;
	}

	.ydopvllvfavfeeqPayPalButton.leftIcon span{
		margin-right: 20px;
		padding: 0;
		background-color: transparent;
	}

	.ydopvllvfavfeeqPayPalButton.leftIcon a:before,
	.ydopvllvfavfeeqPayPalButton.rightIcon a:before{
		display: none;
	}

	.ydopvllvfavfeeqPayPalButton.leftIcon a:hover,
	.ydopvllvfavfeeqPayPalButton.rightIcon a:hover{
		padding: 20px 30px 20px 30px;

	}

	.woocommerce .woocommerce-error a.button, 
	.woocommerce .woocommerce-info a.button, 
	.woocommerce .woocommerce-message a.button, 
	.woocommerce-page .woocommerce-error a.button, 
	.woocommerce-page .woocommerce-info a.button, 
	.woocommerce-page .woocommerce-message a.button{
		position: static !important;
		width: 100%;
		margin-bottom: 20px !important;
		display: block;
		text-align: center;
	}

	/* RWD tables */

	.wtrRwdTable{
	    overflow-x: auto;
	    padding-bottom: 20px;
	}

}


@media screen and (max-width: 767px) {
	
	.ijocgcjwxrdrruz-language,
	.wtrSimpleNavEnabled .xlxglsqraf{
		display: none;
	}

	.wtrBH .wolrgjfyyjty.icgahwoapitlBoxed .alpcplfdkdjjteq{
		position: relative;
		z-index: 9999;
	}

	.wtrBH .wtrSimpleMobileNav{
		width: 90%;
		margin: 0px auto;
		padding-left: 0px;
		padding-right: 0px;
	}

	.wtrBH .wtrSimpleMobileHeader{
		width: 90% !important;
		margin: 40px auto 0px;
		padding-left: 0px;
	}

	.wtrBH .wtrExpander{
		right: -22px;
		width: 50px;
	}

	.wtrBH .wtrExpander span{
		left: 8px;
	}

	.wtrBH .wtrMainNaviList{
		width: 90% !important;
		margin: 40px auto 0px;
	}

	.wtrBH .wtrMainNaviList span,
	.wtrBH .wtrMainNaviList a{
		margin-left: -20px;
		padding-left: 20px;
		margin-right: -20px;
		padding-right: 20px;
	}

	.wtrBH .wtrSimpleMobileNav ul li ul li span,
	.wtrBH .wtrSimpleMobileNav ul li ul li a{
		padding: 15px 20px !important;
		margin: 0px -20px 0px 0px !important;
	}

	.wtrBH .wtrSimpleMobileNav div.wtrExpander span{
		padding: 0px !important;
	}

	.wtrBH .wtrSimpleMobileNav .sub-menu div.wtrExpander{
		right: -2px !important;
		top: 0px !important;
	}


	/* Boxed non transparent */

	.wtrBNTH.wtrSimpleNavOn .wolrgjfyyjty.icgahwoapitlBoxed{
		position: relative;
		z-index: 9999;
		background-color: transparent !important
	}

	.wtrBNTH .wtrSimpleMobileNav{
		width: 90%;
		margin: 0px auto;
		padding-left: 0px;
		padding-right: 0px;
	}

	.wtrBNTH .wtrSimpleMobileHeader{
		width: 90% !important;
		margin: 0px auto 0px;
		padding-left: 0px;
	}

	.wtrBNTH .wtrExpander{
		right: -22px;
		width: 50px;
	}

	.wtrBNTH .wtrExpander span{
		left: 8px;
	}

	.wtrBNTH .wtrMainNaviList{
		width: 90% !important;
		margin: 40px auto 0px;
	}

	.wtrBNTH .wtrMainNaviList span,
	.wtrBNTH .wtrMainNaviList a{
		margin-left: -20px;
		padding-left: 20px;
		margin-right: -20px;
		padding-right: 20px;
	}

	.wtrBNTH .wtrSimpleMobileNav ul li ul li span,
	.wtrBNTH .wtrSimpleMobileNav ul li ul li a{
		padding: 15px 20px !important;
		margin: 0px -20px 0px 0px !important;
	}

	.wtrBNTH .wtrSimpleMobileNav div.wtrExpander span{
		padding: 0px !important;
	}

	.wtrBNTH .wtrSimpleMobileNav .sub-menu div.wtrExpander{
		right: -2px !important;
		top: 0px !important;
	}


	/* Standard Header */

	.rihzjiwfgvlp .wtrSimpleMobileNav ul.wtrMainNaviList{
		margin-top: 15px !important;
	}

	.rihzjiwfgvlp .wtrSimpleMobileHeader{
		margin: 0px 0px 0px 20px;
	}

	.rihzjiwfgvlp.wtrSimpleNavOn .icgahwoapitl{
		z-index: 9999;
		background-color: transparent !important;
		position: relative;
		border-bottom: 0px;
	}

	.rihzjiwfgvlp .wtrSimpleMobileNav{
		width: 90%;
		margin: 0px auto;
		padding-left: 0px;
		padding-right: 0px;
	}

	.rihzjiwfgvlp .wtrSimpleMobileHeader{
		width: 90% !important;
		margin: 0px auto 0px;
		padding-left: 0px;
	}

	.rihzjiwfgvlp .wtrExpander{
		right: -22px;
		width: 50px;
	}

	.rihzjiwfgvlp .wtrExpander span{
		left: 8px;
	}

	.rihzjiwfgvlp .wtrMainNaviList{
		width: 90% !important;
		margin: 40px auto 0px;
	}

	.rihzjiwfgvlp .wtrMainNaviList span,
	.rihzjiwfgvlp .wtrMainNaviList a{
		margin-left: -20px;
		padding-left: 20px;
		margin-right: -20px;
		padding-right: 20px;
	}

	.rihzjiwfgvlp .wtrSimpleMobileNav ul li ul li span,
	.rihzjiwfgvlp .wtrSimpleMobileNav ul li ul li a{
		padding: 15px 20px !important;
		margin: 0px -20px 0px 0px !important;
	}

	.rihzjiwfgvlp .wtrSimpleMobileNav div.wtrExpander span{
		padding: 0px !important;
	}

	.rihzjiwfgvlp .wtrSimpleMobileNav .sub-menu div.wtrExpander{
		right: -2px !important;
		top: 0px !important;
	}

	.wtrSimpleNavOn .wtrQuickContact{
		display: none;
	}

	/* PayPal button fix */

	.ydopvllvfavfeeqPayPalButton.rightIcon a,
	.ydopvllvfavfeeqPayPalButton.leftIcon a{
		padding: 20px 30px 20px 30px;
	}

	.ydopvllvfavfeeqPayPalButton.rightIcon span{
		margin-left: 20px;
		padding: 0;
		background-color: transparent;
	}

	.ydopvllvfavfeeqPayPalButton.leftIcon span{
		margin-right: 20px;
		padding: 0;
		background-color: transparent;
	}

	.ydopvllvfavfeeqPayPalButton.leftIcon a:before,
	.ydopvllvfavfeeqPayPalButton.rightIcon a:before{
		display: none;
	}

	.ydopvllvfavfeeqPayPalButton.leftIcon a:hover,
	.ydopvllvfavfeeqPayPalButton.rightIcon a:hover{
		padding: 20px 30px 20px 30px;
	}

	.woocommerce .woocommerce-error a.button, 
	.woocommerce .woocommerce-info a.button, 
	.woocommerce .woocommerce-message a.button, 
	.woocommerce-page .woocommerce-error a.button, 
	.woocommerce-page .woocommerce-info a.button, 
	.woocommerce-page .woocommerce-message a.button{
		position: static !important;
		width: 100%;
		margin-bottom: 20px !important;
		display: block;
		text-align: center;
	}

	/* RWD tables */

	.wtrRwdTable{
	    overflow-x: auto;
	    padding-bottom: 20px;
	}

}